* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

html {
  scroll-behavior: smooth; 
}

a,
a:active { 
  text-decoration: none;
  color: inherit;
 }

a:hover {
  text-decoration: underline;
}

.l-header {
  grid-area: my-header;
  padding: 10px;
  border: 1px solid #0ABAB5;
  background-color: aqua;
}
.l-nav {
    grid-area: my-nav;
    padding: 10px;
    border-right: 1px solid #0ABAB5;
}
.l-main {
  grid-area: my-main;
  padding: 10px;
  border: 1px solid #0ABAB5;
}


.l-section {
  grid-area: my-section;
  padding: 10px;
  border-bottom: 1px solid #0ABAB5;

}
.l-footer {
  grid-area: my-footer;
  padding: 10px;
  border: 1px solid #0ABAB5;
  background-color: aqua;
}

.grid {
    display: grid;
    grid-gap: 0px;
    grid-template-areas:
        "my-header my-header my-header"
        "my-nav my-main my-main"
        "my-nav my-section my-section"
        "my-footer my-footer my-footer";
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

ul.header-list, ul.footer-list {
    margin: 0;
    padding: 4px;
}

ul.header-list li, ul.footer-list li{
    display: inline;
    padding: 70px;
}

.img {
  text-align: center;
}

.contacts-list li {
  list-style-type: none; 
}