* {
    box-sizing: border-box;
  }

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aqua;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

main {
    margin: 0;
    padding: 20px;
}

ul.header-list, ul.footer-list {
    margin: 0;
    padding: 4px 4px 4px 800px;
}

ul.header-list li, ul.footer-list li{
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
}